# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^ajax/([^/]+)$ php/ajaxHelper.php?url=$1 [QSA,L] # New AJAX URL rule
# RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow PHP includes from all levels
    php_flag allow_url_include On

    # Exclude specific file types from rewriting
    RewriteCond %{REQUEST_URI} !\.(css|js|scss|jpg|jpeg|png|gif|bmp|ico|svg|woff|woff2|ttf|otf|json|pdf|pptx)$

    RewriteCond %{REQUEST_URI} !^/plugins/.*\.(css|js|scss|jpg|jpeg|png|gif|bmp|ico|svg|woff|woff2|ttf|otf|json|pdf|pptx)$

    # Rewrite rule for AJAX URL
    RewriteRule ^ajax/([^/]+)$ php/ajax_handler.php?url=$1 [QSA,L]

    # Rewrite rule for other URLs
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
